<div class="logo">
</div>
<div class="mih-1-2">
  <div class="container products">
    <% @items.each_slice(2) do |items| %>
      <div class="row gutters">
        <% items.each do |item| %>
          <div class="product col span_6">
            <%= image_tag "http://i.imgur.com/RILCHIn.jpg" %>
            <p class="ta-c prod-desc"><%= item.name %> | $ <%= number_with_precision(item.price, {precision: 2})%></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="ta-c order-form-container">
  <div class="order-form">
    <p class="ta-c fz-xl taking-orders"><%= link_to "Place an order now - click here!", new_order_path %></p>
  </div>
</div>
