<div class="mih-1-1 debug">
  <div class="container debug">
    <h1>Home</h1>
    <p>Welcome to Butter me Up Sweets</p>
  </div>
</div>
<div class="mih-1-1 debug">
  <div class="container debug">
    <h1>Order</h1>
    <%= link_to "New Order", new_order_path %>
  </div>
</div>
