<div class="mih-2-3">
  <div class="container">
    <h1>Order Form</h1>
    <% if @order.errors.any? %>
      <div id="error_explanation">
      <p><%= pluralize(@order.errors.count, "error") %> prohibited
      this order from being saved:</p>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= render "form" %>
    <p><em>* The log cookies are delivered uncooked and are ready to bake whenever you want some warm delicious cookies.</em></p>
  </div>
</div>
<div style="display: none" class="addItemsForm">
  <%= render "select_items" %>
</div>

