a {
  text-decoration: none;
  color: black;
}

html, body {
  height: 100%;
}

div.logo {
  background-image: url('buttermeup-logo.png');
  background-size: contain;
}

div.order-now {
  position: absolute;
  margin-top: -50px;
  margin-left: -200px;
  top: 150%;
  left: 50%;
  height: 100px;
  width: 400px;
}


