html, body {
  font-family: "Lato";
  font-weight: 300;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  background-image: url('buttermeup-logo.png');
  background-size: contain;
}

.products {
  padding-top: 4%;
  position: relative;
}

.product {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.products img {
  display: block;
  margin: 5px auto;
  max-height: 100%;
  max-width: 100%;
}

.order-form-container {
  position: relative;
  height: 800px;
}

.order-form {
  position: absolute;
  top: 50%;
  width: 100%;
}

.button-down, .button-down2 {
  position: absolute;
  top: 90%;
  width: 100%;
}
