html, body {
  font-family: "Lato";
  font-weight: lighter;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  width: 100%;
  height: 40%;
  border-top: 1px solid #e8e8e8;
  background-color: #f3f6f8;
}

.logo {
  background: url('https://i.imgur.com/rDI8v33.png') fixed;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 50%;
}

.products {
  padding-top: 2%;
  position: relative;
}

.product {
  position: relative;
  margin-bottom: 2%;
  display: block;
  width: 100%;
}

.products img {
  position: relative;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.prod-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  color: #fff;
}

.prod-desc span {
  display: inline-block;
  width: 300px;
  padding-top: 6px;
  height: 50px;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.2);
}

.order-form-container {
  position: relative;
  height: 400px;
}

.order-form {
  position: absolute;
  top: 40%;
  width: 100%;
}

.taking-orders span{
  display: inline-block;
  padding: 20px;
  background-color: #ed6a1d;
  transition: background-color 0.4s ease;
  color: white;
}

.taking-orders span:hover {
  display: inline-block;
  background-color: white;
  color: #ed6a1d;
  border: solid 1px #ed6a1d;
  padding: 20px;
}

.contact-info {
  padding-top: 30px;
  padding-left: 50px;
}

.orange {
  color: #ed6a1d;
}

.blue {
  color: #71cee2;
}

.reverse-text{
  display: inline-block;
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  unicode-bidi:bidi-override;
  direction:rtl;
}
